/*Body*/

/*Fin Body*/

/*Header*/
#header-init{
    margin-left: 2rem;
}

/*Fin Header*/

/*Main*/
h1{ /*titulo "Portafolio"*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: oklch(0.1 0.1 100%);
    font-size: 15ex;
    margin-top: 10rem;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#abt{
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

/*Fin Main*/

/*Footer*/
#footer-init{
  float:inline-end;
  margin-right: 2rem;
}

/*Fin Footer