/*
-Debes crear todo el código CSS en una hoja de estilos externa.
-El código CSS debe contener al menos 3 selectores que hagan referencia
 a clases.
-El código CSS debe contener al menos 2 selectores que hagan referencia
 a elementos de la página a través de su id.
-La página debe contener al menos una imagen.
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}


h1{ /*titulo "Portafolio"*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    color: #dd5547;
    font-size: 15ex;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

a{
  justify-content: center;
  align-items: center;
  display: flex;
}

img #abajo{
  width: 8%;
  border-radius: 10px;
}

.linkbutton{
  width: 8%;
  border-radius: 10px;
  align-items: flex-end;
}

 .banner h2{ /*letra 2025*/
  font-family: "Fascinate", system-ui;
  font-weight: 400ex;
  font-style: normal;
    font-size: 7ex;
    color: #0d3b66;
    text-align: left;
}

.fas.fa-info-circle { /*iconoc de informacion*/
  color: #0d3b66;
  font-size: 20px;
  float: right;
  margin-top: 20px;
  width: 50px;
}

#first{ /*color de primera vista de la pag web*/
    background-color: #fff2d2;
}

#seccion1{ /*primer sector de la pag web*/
    height: 105vh;
    background-color: #dd5547;
}

#seccion1 h2{ /*titulo "sobre mi" primer sector*/
  margin-left: 30px;
  font-size: 10ex;
  color: #f5f5f5;
  margin-bottom: 5px;
}

#seccion1 p{ /*texto primer sector*/
  color: white;
  font-size: 3ex;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 5px;
}

/*.banner1{ /*banner repetitivo/
    background-repeat: repeat-x;
    background-image: url(black_hole_gif.gif);
    padding-top: 50px;
    margin: 0;
    background-size:contain;
}*/

#seccion2{ /*segundo sector de la pag web*/
    height: 100vh;
    background-color: #fff2d2;
}

#seccion2 h2{ /*titulo "mi exp en jap" segundo sector*/
  margin-left: 30px;
  font-size: 10ex;
  color: #0d3b66;
  margin-bottom: 5px;
}
  
#seccion2 p{ /*texto segundo sector*/
  color: #0d3b66;
  font-size: 3ex;
  margin-left: 60px;
  margin-top: 5px;
}
